<div class="catalogo-wrapper">
  @if (peliculasFiltradas().length === 0) {
    <div class="sin-resultados">
      <p>No se encontraron películas con el género seleccionado.</p>
    </div>
  } @else {
    <div class="grid-peliculas">  
      @for (peli of peliculasFiltradas(); track peli.id) {
        <div class="tarjeta-pelicula">
          <img [src]="peli.poster" [alt]="peli.titulo"/>
          <h2>{{ peli.titulo }} </h2>

           <div class="movie-meta">
              <span class="rating">⭐ {{ peli.puntuacion }}</span>
              <span class="duracion">{{ peli.duracion_min | duracionHoras}}</span>
            </div>

          <!-- Géneros múltiples -->
          <div class="generos">
            @for (item of peli.generos; track item.genero.nombre) {
              <span class="badge">{{ item.genero.nombre }}</span>
            }
          </div>
      
          <!-- Múltiples horarios y formatos -->
          <div class="funciones-disponibles">
            <h4>Horarios y Funciones:</h4>
            <div class="horarios-grid">
              @for (f of peli.funciones; track f.id) {
                <button class="btn-horario" (click)= abrirSala(f.id)>
                  <span>{{ f.fecha_hora_inicio | date:'shortTime' }}</span>
                  <small>{{ f.fecha_hora_inicio | date:"d 'de' MMMM" }}  </small>
                  <small>{{ f.formato }} - {{ f.idioma }}</small>
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
      <!-- MODAL DE LA SALA DE CINE -->
  @if (funcionSeleccionada() !== null) {
    <div class="modal-overlay" (click)="cerrarSala()">
      
      <!-- Contenedor interno: el (click)="$event.stopPropagation()" evita que al dar clic en la sala se cierre el modal -->
      <div class="modal-content" (click)="$event.stopPropagation()">
        
        <!-- Llamamos al componente hijo, pasamos el ID y escuchamos cuando pida cerrarse -->
        <app-sala-cine 
          [funcionId]="funcionSeleccionada()!" 
          (cerrar)="cerrarSala()">
        </app-sala-cine>

      </div>
    </div>
  }
</div>