<nav class="navbar">
    <div class="btn-navbar">               
        <button class="btn btn-dark rounded-pill px-3" routerLink="/admin">Volver</button>  
    </div>
</nav>
<div class="admin-container">
  <div class="admin-card">
    <h2>Programar Nueva Función</h2>
    <p>Asigna horarios asegurando disponibilidad de sala y tiempo de limpieza.</p>

    @if (mensajeError()) { <div class="alert alert-error">{{ mensajeError() }}</div> }
    @if (mensajeExito()) { <div class="alert alert-success">{{ mensajeExito() }}</div> }

    <form [formGroup]="funcionForm" (ngSubmit)="onSubmit()" novalidate>
      
      <!-- Fila 1: Película y Sala -->
      <div class="form-row">
        <div class="form-group">
          <label for="pelicula_id">Película</label>
          <select id="pelicula_id" formControlName="pelicula_id" 
          [class.input-error]="esCampoInvalido('pelicula_id')">
            <option value="" disabled selected>Seleccione una película...</option>
            @for (p of peliculas(); track p.id) {
              <option [value]="p.id">{{ p.titulo }} ({{ p.duracion_min }} min)</option>
            }
          </select>
          @if (esCampoInvalido('pelicula_id')) {
            <span class="error-text">Requerido</span>
          }
        </div>

        <div class="form-group">
                
            <label for="sala_id">Sala</label>
            <select id="sala_id" formControlName="sala_id"
            [class.input-error]="esCampoInvalido('sala_id')"
            (change)="alCambiarSala($event)">
              <option value="" disabled selected>Seleccione una sala...</option>
              @for (s of salas(); track s.id) {
                <option [value]="s.id">{{ s.numero }}</option>
              }
            </select>
            @if (esCampoInvalido('sala_id')) {
              <span class="error-text">Requerido</span>
            }
            
         
            <button type="button" class="btn-aleatorio" (click)="elegirSalaAleatoria()">
              🎲 Al azar
            </button>
          
        </div>
      </div>

      <!-- Fila 2: Fecha y Hora -->
      <div class="form-row">
        <div class="form-group">
          <label for="fecha" >Fecha de la Función</label>
          <button id="fecha" type="button" class="btn-input-falso" (click)="mostrarPicker.set(true)">
            <!-- Solo texto visual, sin formControlName -->
            📅 {{ funcionForm.get('fecha')?.value }} {{funcionForm.get('hora_inicio')?.value}}
          </button>
        </div>
      </div>
      <!-- El Overlay -->
      @if (mostrarPicker()) {
        <app-custom-datepicker 
          (fechaConfirmada)="onFechaConfirmada($event)" 
          (cerrar)="mostrarPicker.set(false)">
        </app-custom-datepicker>
      }
     
      <!-- Fila 3: Formato, Idioma y Precio -->
      <div class="form-row">
        <div class="form-group">
            <label>Formato</label>
            <input 
              type="text" 
              class="input-custom input-bloqueado" 
              formControlName="formato" 
              readonly>
        </div>

        <div class="form-group">
          <label for="idioma">Idioma</label>
          <select id="idioma" formControlName="idioma"
          [class.input-error]="esCampoInvalido('idioma')">
            <option value="Castellano">Castellano</option>
            <option value="Subtitulada">Subtitulada</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="precio">Precio ($)</label>
          <input type="number" id="precio" formControlName="precio" min="1" />
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="isLoading">
        {{ isLoading ? 'Validando horario...' : 'Programar Función' }}
      </button>
    </form>
  </div>
</div>