/* You can add global styles to this file, and also import other style files */
.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(43, 98, 201);
    
}

.btn-navbar{
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

