/* You can add global styles to this file, and also import other style files */
.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(22, 37, 122, 0.39);
    
}

.btn-navbar{
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

@font-face {
  font-family: 'RetroBlendy' ; 
  src: url('assets/fonts/RetroBlendy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: 'RetroBlendy', sans-serif !important;
}
body {
  background-color: #020617; 
  color: #f8fafc; 
  margin: 0;
  min-height: 100vh;
}

input, button, select, textarea {
  font-family: inherit;
}